<div id="resumen-compras">
    <h2 mat-dialog-title class="title-background p-8"><mat-icon>library_books</mat-icon> Resúmen de venta</h2>
    
    <mat-dialog-content>
        <div class="m-16">
            <div *ngFor="let item of data.salesList; index as i">
                <div class="row-sales full-width" >
                    <div fxFlex="10" fxLayoutAlign="center center" class="full-width">
                        <div fxLayout="row" class="full-width">
                            <img 
                                [src]="item['imagen']" 
                                style="width: 60px; height: 60px;">
                        </div>
                    </div>
                    <div fxFlex="78" fxLayoutAlign="start center">
                        <div fxLayout="column" class="full-width">
                            <div fxLayout="row" class="full-width">
                                <div fxFlex="85" fxHide fxShow.gt-sm fxLayoutAlign="start center" class="full-width">
                                    <span class="item-name-text-principal cp"> {{ item.itemName.toUpperCase() }} </span>
                                    <span style="padding-left: 12px;"> | {{ item.branch }}</span>
                                </div>
                                <div fxFlex="15" fxHide fxShow.gt-sm fxLayoutAlign="end center">
                                    <span class="item-name-text-principal cp">{{ item.subtotal | currency: 'MXN' }}</span>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center" class="full-width" style="height: 100%;">
                                <div fxFlex="50" fxHide fxShow.gt-sm fxLayoutAlign="start center">
                                    <span>Cantidad: {{ item.quantity }}</span>
                                </div>
                                <div fxFlex="50" fxHide fxShow.gt-sm fxLayoutAlign="end center">
                                    <div>Costo: {{ item.saleAmount | currency: 'MXN' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="tac m-16">
            <h1 mat-dialog-title><b>TOTAL: {{data.totalCarrito | currency: 'MXN'}}</b></h1>
        </div>
        <hr>
        <div class="m-16">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cantidad a pagar: </mat-label>
                <input type="number" (keyup)="onKeypressEvent()" matInput [(ngModel)]="data.cantidadRecibida">
            </mat-form-field>
        </div>
        <hr>
        <div class="tac m-16">
            <h1 mat-dialog-title><b>CAMBIO: {{data.cantidadCambio | currency: 'MXN'}}</b></h1>
        </div>
    </mat-dialog-content>
    <hr>
    <div class="m-16">
        <button mat-raised-button color="primary" (click)="onNoClick()" class="m-8">Cancelar</button>
        <button mat-raised-button color="accent" [disabled]="data.cantidadCambio < 0 && data.cantidadRecibida <= 0 && data.cantidadCambio < 0" (click)="pagar()" class="m-8">Abrir caja</button>
    </div>
</div>