<router-outlet></router-outlet>
<!--<mat-drawer-container class="example-container" autosize *ngIf="profile">

    <mat-drawer #drawer class="example-sidenav-drawer" mode="over">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="80" fxLayoutAlign="center center" class="background-menu p-20 hp-40">
                Menú
            </div>
            <div fxFlex="20" fxLayoutAlign="end center" class="background-menu p-20 hp-40">
                <mat-icon (click)="drawer.toggle()" class="cp">keyboard_backspace</mat-icon>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-16">
            <div fxFlex="100" fxLayoutAlign="center center">
                <img src="../../../../../assets/img/{{imgProfile}}" width="100px" height="100px" class="img-profile">
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="100" fxLayoutAlign="center center">
                <div class="title">{{userName}}</div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="100" fxLayoutAlign="center center">
                <div class="sub-title">{{nameProfile}}</div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/terminal-punto-venta">
                    <mat-icon class="icon-menu mr-8">keyboard_backspace</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Registrar ventas</div>
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28" *ngIf="profile >= 99">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/administrador-articulos">
                    <mat-icon class="icon-menu mr-8">local_play</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Administrador de artículos</div>
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28" *ngIf="profile >= 99">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/siguiente-compra">
                    <mat-icon class="icon-menu mr-8">local_play</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Articulos a comprar</div>
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28" *ngIf="profile >= 99">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/articulos-agotarse">
                    <mat-icon class="icon-menu mr-8">local_play</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Articulos por agotarse</div>
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28" *ngIf="profile >= 99">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/administrador-laminas">
                    <mat-icon class="icon-menu mr-8">local_play</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Administrador de láminas</div>
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28" *ngIf="profile >= 99">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/finanzas">
                    <mat-icon class="icon-menu mr-8">local_play</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Finanzas</div>
                </span>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="mt-28" *ngIf="profile >= 99">
            <div fxFlex="100" fxLayoutAlign="start center" class="cp">
                <a href="/dashboard">
                    <mat-icon class="icon-menu mr-8">local_play</mat-icon>
                </a>
                <span>
                    <div class="sub-title">Dashboard</div>
                </span>
            </div>
        </div>

    </mat-drawer>
  
    <div class="example-sidenav-content">

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center">
            <div fxFlex="100">
                
                    <mat-toolbar color="accent" class="h-6-vh">
                        <button mat-icon-button class="background-principal cp h-5-vh" (click)="drawer.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <span>La Pape</span>
                        <span class="example-spacer"></span>
                        <span class="h30 color-b font-bold-600 p-12">{{ rxTime }}</span>
                        <div>
                            <img src="../../../../../assets/img/logo.jpg" class="logo-35 cp" (click)="exit()">
                        </div>
                    </mat-toolbar>
                
            </div>
        </div>
      
        <router-outlet></router-outlet>
      
    </div>
  
</mat-drawer-container>-->
